RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


RewriteBase /

####Redigindo as URL

#Clientes
RewriteRule ^Login views/login.php  [NC,QSA,L]
RewriteRule ^Clientes views/clientes.php  [NC,QSA,L]
RewriteRule ^Licencas views/clientes.php  [NC,QSA,L]
RewriteRule ^Servicos views/clientes.php  [NC,QSA,L]
RewriteRule ^Financeiro views/clientes.php  [NC,QSA,L]
