<div class='alert alert-info' role='alert'>
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ msg|nl2br }} 

{% if tipo == "u" %}
 USUÃRIO
{% endif %}

{% if tipo == "r" %}
 REVENDEDOR
{% endif %}

{% if qtd_licencas|length > 0 %}
	({{ qtd_licencas }})
{% endif %}

</div>