<script>
	setTimeout("refreshPage();", 3000);
    function refreshPage() {
        window.location = location.href;
    }
</script>

<div class="alert alert-success" role="alert"> {{ msg|nl2br }} </div>