<script>
	$(function($) {
	 $('html, body').animate({scrollTop:0}, '500');
	});
	setTimeout("refreshPage();", 2500);
    function refreshPage() {
        var novaURL = "{{ redirect }}";
        $(window.document.location).attr('href',novaURL);
    }
</script>

<div class="alert alert-success" role="alert"> {{ msg|nl2br }} </div>