{% extends 'base.html' %}

{% block conteudo %}

 <div id="page-wrapper">

    <div class="row">
      <div class="col-lg-12">
        <h1>Licença <small>Editar Licença</small></h1>
        <ol class="breadcrumb">
          <li><a href="index.html"><i class="fa fa-dashboard"></i> Painel</a></li>
          <li class="active"><i class="fa fa-edit"></i> Editar Licença</li>
        </ol>
       
      </div>
    </div><!-- /.row -->


    <div class="row">
      <div class="col-lg-12">

        <form role="form" id="enviaNovaLicenca">

          <div class="form-group">
            <label>Cliente</label>
              <select class="form-control" id="clientef" name="clientef">
                <option value="" selected="selected">Selecione ...</option>
                {% for valor in clie %}
                <option value="{{ valor.codigo }}">{{ valor.nome }}</option>
                {% endfor %}
              </select>
          </div>

          <div class="form-group" id="tipo_cliente" style="display:none;">
                <span id="resultado_tp_cli"></span>
          </div>

          <div class="form-group">
            <label>Sub-domínio</label>
            <input class="form-control" type="text" name="sub_dominio" id="sub_dominio">
          </div>

          <div class="form-group">
            <label>Key</label>
            <input class="form-control key_mascara" type="text" name="key_sub" id="key_sub">
          </div>

          <div class="form-group">
            <label>Status</label>
              <select class="form-control" id="status_sub" name="status_sub">
                <option value="0" selected="selected">Desativar</option>
                <option value="1" >Ativar</option>
              </select>
          </div>

          <div class="form-group">
            <label>Setup</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="sim" id="setup" name="setup" type="checkbox">
              Instalação do Isistem por nosso Suporte no Sub-domínio. (R$ 10,00) 
            </label>
          </div>
          </div>
          
          <div class="well">
            <button type="button" class="btn btn-primary" id="bt_cadastrar_licenca">Editar</button>  
          </div>

        </form>

      </div>

    </div><!-- /#page-wrapper -->

{% endblock %}