{% if novo_status == "a" %}

<script>
$(function($) {
  $(".muda_status[id={{ id_valor }}]").html('<span class="label label-success">Ativado</span>');
});
</script>

{% else %}

<script>
$(function($) {
  $(".muda_status[id={{ id_valor }}]").html('<span class="label label-danger">Desativado</span>');
});
</script>

{% endif %}

