{% extends 'cliente/base_cliente.html' %}

{% block conteudo %}


<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Painel <small>Painel Liçencas</small></h1>
      <ol class="breadcrumb">
      	<li><a href="/"><i class="fa fa-dashboard"></i> Painel</a></li>
      </ol>

      <!-- ################# LOCAL DE ALERTA ####################### -->

    </div>
  </div><!-- /.row -->



  <div class="row">

    <div class="col-lg-12">
      
 
          
    </div>
    

  </div><!-- /.row -->



</div><!-- /#page-wrapper -->

{% endblock %}